.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff; /* Adjust as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  animation: moveUp 2s ease forwards; /* Adjust duration and timing function */
}

@keyframes moveUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
